<div class="footer container-fluid d-flex justify-content-center">
  <div class="footer-block row container text-center">
    <div class="col-12">
      <p class="text-black text-center">С душой и любовью,<br /><span
          class="footer-highlight text-white">template</span></p>
    </div>
    <div class="col-12">
      <a
        href="https://t.me/data_ptr"
        target="_blank"
      >
        <img
          src="../static/images/telegram_icon.svg"
          class="image footer-icon"
        >
      </a>
      </a>
      <a
        href="https://github.com/meowsl/invest-contest"
        target="_blank"
      >
        <img
          src="../static/images/github_icon.svg"
          class="image footer-icon"
        >
      </a>
      <a
        href="https://t.me/bu1101"
        target="_blank"
      >
        <img
          src="../static/images/telegram_icon.svg"
          class="image footer-icon"
        >
    </div>
  </div>
</div>