<header class="header container-fluid py-4">
  <div class="row d-flex justify-content-around">
    <div class="col-6">
      <a href="https://www.centrinvest.ru/">
        <img
          class="header__logo"
          src="../static/images/logo-invest.svg"
        >
      </a>
    </div>
    <div class="links d-flex justify-content-end align-items-center col-6">
      <a
        href="/"
        class="me-5"
      >Главная</a>
      <a
        href="/predict"
        class="me-5"
      >Демо</a>
    </div>
  </div>
</header>