<div class="predict-banner container-fluid d-flex justify-content-center align-items-center">
  <div class="predict-banner__content container">
    <div class="row">
      <div class="col-6 mt-5">
        <img
          class="image mt-1 mt-md-3 mt-xxl-4"
          src="../static/images/banner_predict.svg"
        >
      </div>
      <div class="col-6 d-flex flex-column justify-content-center align-items-center mt-5">
        <p class="predict-banner__content text-center title">Нами была разработана нейросеть, основанная на
          LSTM-модели,
          которая в свою
          очередь позволяет сделать допустимое в практике значение на следующий год. </p>
        <button
          type="button"
          class="predict-button btn btn-lg d-flex align-items-center px-5 mx-auto mt-1 mt-md-3 mt-xxl-5"
        >
          <p class="m-0 text-white">Ознакомиться</p>
          <img
            src="../static/images/scroll_predict.svg"
            class="predict-button__icon image me-2"
          >
        </button>
      </div>

    </div>

  </div>
</div>