<div class="predict container-fluid d-flex justify-content-center align-items-center">
  <div class="predict__panel container-fluid">
    <div class="row d-flex justify-content-around">
      <div class="col-12 d-flex justify-content-center">
        <div class="dropdown d-flex justify-content-center">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Выбрать ЦУР
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton1"
            id="currency-dropdown"
          >
            {% for cur in list_cur_local %}
            <li>
              <div class="form-check">
                <label class="form-check-label dropdown-item">
                  <input
                    class="form-check-input cur-checkbox"
                    type="checkbox"
                    value="{{ cur['id'] }}"
                    data-name="{{ cur['name'] }}"
                    id="flexCheckDefault{{ loop.index }}"
                  >
                  {{ cur['name'] }}
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center">
        <button
          type="button"
          class="run-button btn btn-primary mt-3 mx-auto"
          id="run-button"
        >Запуск</button>
        <hr class="bg-dark border-2 border-top border-dark" />
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <div
          id="select-all-container"
          class="mt-3 d-none"
        ></div>
        <div
          id="indicator-list"
          class="d-flex flex-column mt-3"
        ></div>
        <hr class="bg-dark border-2 border-top border-dark" />
      </div>
      <div class="col-12 mt-3 d-flex flex-column justify-content-center">
        <p class="title-result h3 text-center d-none">Результаты</p>
        <div
          id="result"
          class="mt-3"
        ></div>
      </div>
    </div>
  </div>
</div>

<script>
  test = JSON.parse('{{ test|tojson }}');
  list_indicators_local = JSON.parse('{{ list_indicators_local|tojson }}');

  function updateIndicatorList(indicators) {
    const indicatorList = document.getElementById('indicator-list');

    indicators.forEach((indicatorId, index) => {
      const checkbox = document.createElement('input');
      const label = document.createElement('label');

      checkbox.type = 'checkbox';
      checkbox.className = 'form-check-input me-1 indicator-checkbox';
      checkbox.value = indicatorId;
      checkbox.id = `indicatorCheckDefault${indicatorId}`;

      label.htmlFor = `indicatorCheckDefault${indicatorId}`;

      const indicatorName = list_indicators_local.find(item => item.indicator_id === indicatorId)?.name || `Indicator ${indicatorId}`;
      label.textContent = indicatorName;

      const listItem = document.createElement('div');
      listItem.classList.add('form-check', 'd-inline-block', 'me-3');
      listItem.appendChild(checkbox);
      listItem.appendChild(label);
      indicatorList.appendChild(listItem);
    });

    const selectAllContainer = document.getElementById('select-all-container');
    const selectAllCheckbox = document.createElement('input');
    const selectAllLabel = document.createElement('label');

    selectAllCheckbox.type = 'checkbox';
    selectAllCheckbox.className = 'form-check-input select-all-checkbox';
    selectAllCheckbox.id = 'selectAllCheckbox';

    selectAllLabel.htmlFor = 'selectAllCheckbox';
    selectAllLabel.textContent = 'Выделить все';

    selectAllContainer.classList.remove('d-none');
    selectAllContainer.innerHTML = '';
    selectAllContainer.appendChild(selectAllCheckbox);
    selectAllContainer.appendChild(selectAllLabel);

    selectAllCheckbox.addEventListener('change', event => {
      const indicatorCheckboxes = document.querySelectorAll('.indicator-checkbox');

      if (event.target.checked) {
        indicatorCheckboxes.forEach(checkbox => {
          checkbox.checked = true;
        });
      } else {
        indicatorCheckboxes.forEach(checkbox => {
          checkbox.checked = false;
        });
      }
    });
  }

  function clearIndicatorList() {
    const indicatorList = document.getElementById('indicator-list');
    const selectAllContainer = document.getElementById('select-all-container');

    indicatorList.innerHTML = '';
    selectAllContainer.classList.add('d-none');
  }

  let selectedCurrencies = new Set();

  document.querySelectorAll('.cur-checkbox').forEach(checkbox => {
    checkbox.addEventListener('change', event => {
      const curId = event.target.value;

      if (event.target.checked) {
        selectedCurrencies.add(curId);
      } else {
        selectedCurrencies.delete(curId);
      }

      clearIndicatorList();

      selectedCurrencies.forEach(curId => {
        const indicators = test.filter(item => item.cur_id == curId).flatMap(item => item.indicator_id);
        updateIndicatorList(indicators);
      });
    });
  });

  // Этот код предотвращает закрытие выпадающего меню при клике на чекбокс или label
  document.querySelectorAll('.cur-checkbox').forEach(checkbox => {
    checkbox.addEventListener('click', event => {
      event.stopPropagation();
    });
  });

  document.querySelectorAll('.form-check-label').forEach(label => {
    label.addEventListener('click', event => {
      event.stopPropagation();
    });
  });

  document.getElementById('run-button').addEventListener('click', () => {
    // Собираем значения выделенных чекбоксов
    const selectedIndicators = Array.from(document.querySelectorAll('.indicator-checkbox:checked'), checkbox => checkbox.value);

    // Отправляем данные на сервер Flask с помощью fetch API
    fetch('/predict', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ indicators: selectedIndicators })
    })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          console.error('Ошибка при отправке данных на сервер');
          throw new Error('Ошибка при отправке данных на сервер');
        }
      })
    fetch('/predict', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ indicators: selectedIndicators })
    })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          console.error('Ошибка при отправке данных на сервер');
          throw new Error('Ошибка при отправке данных на сервер');
        }
      })
      .then(data => {
        const resultDiv = document.getElementById('result');
        resultDiv.innerHTML = '';
        data.data.forEach((item, index) => {
          // Присваиваем значения с бэке переменным
          const curId = item.cur_id;
          const indicatorId = item.indicator_id;
          const values = item.values;
          const years = item.years;

          // Выделяем последние данные
          const lastYear = years[years.length - 1];
          const lastValue = values[values.length - 1];

          const curName = test.find(cur => cur.cur_id === curId)?.name || `ЦУР ${curId}`;
          const indicatorName = list_indicators_local.find(indicator => indicator.indicator_id === indicatorId)?.name || `Indicator ${indicatorId}`;

          const resultItem = document.createElement('div');
          resultDiv.appendChild(resultItem);

          // Создаем линейную диаграмму
          const lineData = [{
            x: years,
            y: values,
            type: 'scatter',
            mode: 'lines',
            marker: {
              color: 'blue'
            }
          }, {
            x: [lastYear],
            y: [lastValue],
            type: 'scatter',
            mode: 'markers',
            marker: {
              color: 'red',
              size: 12,
              symbol: 'circle'
            }
          }];

          const layout = {
            title: {
              text: `${curName}<br>${indicatorName}`,
              font: {
                family: 'Sansation-Bold',
                size: 20
              },
              xref: 'paper',
              automargin: true,
              autopadding: true,
              wrap: 50
            },
            xaxis: {
              title: 'Год'
            },
            yaxis: {
              title: 'Показатель'
            },
            annotations: [{
              x: lastYear,
              y: lastValue,
              text: 'predict',
              showarrow: false,
              font: {
                color: 'red',
                size: 14
              },
              xanchor: 'center',
              yanchor: 'bottom'
            }]
          };

          // Создаем новый контейнер для линейной диаграммы с уникальным идентификатором
          const lineGraphDiv = document.createElement('div');
          lineGraphDiv.id = `line-graph-${index}`;
          resultDiv.appendChild(lineGraphDiv);

          Plotly.newPlot(`line-graph-${index}`, lineData, layout);
        });
        const dNoneElements = document.querySelectorAll('.d-none');
        dNoneElements.forEach(element => {
          element.classList.remove('d-none');
          element.classList.add('d-inline');
        });
      })
      .catch(error => {
        console.error('Ошибка при получении данных с сервера:', error);
      });
  });
</script>