@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation-Regular.ttf");
}

@font-face {
  font-family: "Sansation-Bold";
  src: url("../fonts/Sansation-Bold.ttf");
}

@font-face {
  font-family: "Sansation-Light";
  src: url("../fonts/Sansation-Light.ttf");
}

@font-face {
  font-family: "RubikGlitch";
  src: url("../fonts/RubikGlitch-Regular.ttf");
}