@import url("fonts.css");
@import url("header.css");
@import url("banner.css");
@import url("description.css");
@import url("stage-1.css");
@import url("stage-3.css");
@import url("stage-4.css");
@import url("results.css");

body, html{
  font-family: "Sansation";
  height: 100%;
  width: 100%;
}

.block-title{
  font-size: 42px !important;
}

.block{
  margin: 3rem 10rem;
  padding: 0 5rem;
}

.block__results{
  margin: 3rem 10rem 10rem;
  padding: 0 5rem;
}

.block-text{
  font-size: 24px;
}

.results-button{
  width: 30% !important;
  border-radius: 24px !important;
  background-color: #50B848;
}

.results-button:hover{
  background-color: #299721;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}