<div class="description container-fluid d-flex justify-content-center align-items-center">
  <div class="row block text-center">
    <div class="col-12 block-title">
      <p>Что такое <span class="highlight">ЦУР</span>?</p>
    </div>
    <div class="block-info col-6 mt-4 px-5">
      <p class="block-text mx-5">Это набор из 17 взаимосвязанных целей, разработанных в 2015 году Генеральной
        ассамблеей ООН в
        качестве «плана
        достижения лучшего и более устойчивого будущего для всех».</p>
    </div>
    <div class="block-info col-6 mt-4 px-5">
      <p class="block-text mx-5">Отслеживая статистические данные показателей государство способно обеспечивать
        наиболее
        качественные и
        благоприятные изменения для того или иного региона РФ.</p>
    </div>
  </div>
</div>