<div class="stage-1 container-fluid d-flex justify-content-center align-items-center">
  <div class="row block text-center">
    <div class="col-12 block-title">
      <p>Этап 1-2</p>
    </div>
    <div class="col-6">
      <img
        class="image"
        src="../static/images/stage1.svg"
      >
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="d-flex flex-column mx-5">
        <p class="block-text mb-5 mx-1 mx-md-3 mx-xxl-5">Проведя тщательный анализ имеющихся данных наша команда
          пришла к выводу, что
          для
          анализа
          временного ряда
          критически мало данных. Следуя из этого каждый участник приступил к поиску дополнительных сведений для
          расширения, а следовательно для конкретизации имеющейся статистики.</p>
        <button
          type="button"
          class="results-button btn btn-lg d-flex justify-content-center align-items-center mx-auto mt-1 mt-md-2 mt-xxl-5"
        >
          <img
            src="../static/images/document_white.svg"
            class="document-logo me-2"
          >
          <p class="m-0 text-white">Результат</p>
        </button>
      </div>
    </div>
  </div>
</div>