<div class="stage-4 container-fluid d-flex justify-content-center align-items-center">
  <div class="row block text-center">
    <div class="col-12 block-title">
      <p>Этап 4</p>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="d-flex flex-column mx-5">
        <p class="block-text mb-5 mx-5">По итогам кластерного анализа было получено 2 кластера, размер которых
          составляет 40 и 23 соответственно регионам РФ. Алгоритм K-средний был направлен на выбор центроидов внутри
          групп. Основываясь на инерции, мы получили завышенные показатели, что говорит о несостоятельных результатах
          кластеризации. </p>
        <button
          type="button"
          class="results-button btn btn-lg d-flex justify-content-center align-items-center mx-auto mt-5"
        >
          <img
            src="../static/images/document_white.svg"
            class="document-logo me-2"
          >
          <p class="m-0 text-white">Результат</p>
        </button>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../static/images/stage4.svg"
        class="image"
      >
    </div>
  </div>
</div>