<div class="stage-3 container-fluid d-flex justify-content-center align-items-center">
  <div class="row block text-center d-flex flex-column justify-content-center">
    <div class="col-12 block-title pb-4">
      Этап 3
    </div>
    <div class="stage-3__description col-12">
      <p class="description__text">По стандартизированным данным была построена корреляционная матрица и тепловая
        карта, ее анализ показал наличие сильных связей между показателями, как положительных, так и отрицательных.
        Однако далеко не между всеми связями наблюдается адекватная корреляция, так, например, сильная отрицательная
        связь наблюдается между долей городского населения проживающего в аварийном жилищном фонде и долей
        утилизированных и обезвреженных отходов производства.</p>
    </div>
    <div class="col-12 mt-5">
      <a
        href="https://colab.research.google.com/drive/1DJYYP-U_sUDye_wBcu2wAPB-kLyojmZ8?usp=sharing"
        target="_blank"
        class="results-button btn btn-lg d-flex justify-content-center align-items-center mx-auto"
      >
        <img
          src="../static/images/document_white.svg"
          class="image me-2"
        >
        <p class="m-0 text-white">Результат</p>
      </a>
    </div>
  </div>
</div>