.results{
  background-image: url("../images/results_background.svg");
  background-size: 95% 110%;
  background-position: center;

}

.cloud-button{
  width: 12rem;
  border-radius: 24px !important;
  background-color: #D9D9D9;
}

.cloud-button:hover{
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}

.ai-button{
  font-family: "Sansation-Bold";
  height: 4rem;
  padding: auto 4rem;
  border-radius: 24px !important;
  background-color: #50B848;
}

.ai-button__icon{
  max-width: 35px;
  max-height: 35px;
}

.ai-button:hover{
  background-color: #299721;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1600px) {

  .cloud-button{
    font-size: 18px;
  }

  .ai-button__icon{
    max-width: 30px;
    max-height: 30px;
  }

  .ai-button{
    height: 4rem;
    font-size: 20px;
    border-radius: 24px !important;
    background-color: #50B848;
  }

  .ai-button__icon{
    width: 30px;
    height: 30px;
  }
}