.stage-3__description {
  max-width: 931px;
  max-height: 446px;
  background-image: url("../../images/stage3.svg");
  background-size:cover;
  background-position: center;
}

.description__text {
  font-size: 22px;
  margin: 6rem 6rem;
  text-shadow: #000 0 1px 2px;
}


@media screen and (max-width: 1600px) {
  .stage-3__description {
    background-size:130% 100%;
  }

  .description__text {
    font-size: 20px;
    margin: 4rem 10rem;
  }
}

@media screen and (max-width: 1280px) {

  .description__text {
    font-size: 16px;
    margin: 4rem 12rem;
  }
}


